body,
div,
h1,
html,
p,
li {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*********************************
MAIN STYLES
*********************************/
$mainPinkColor: #E91E63;

html {
  font-size: 16px;
}

body {
    font: {
        family: "Bubbler One", sans-serif;
        size: 100%;
    }
}

h1#title {
    text-align: center;
    padding: 2%;
    margin: 2%;
    letter-spacing: 2px;
    font: {
        size: 4rem;
        weight: bolder;
    }
}

/****** TO DO INPUT ******/
input#to-do {
    width: 100%;
    border: 1px solid gray;
    transition: border .5s;
    position: relative;
    border: {
      top: 0;
      left: 0;
      right: 0;
    }
    padding: 30px 5px 0;
    border-radius: 2px;
    font-size: 2rem;
    &:focus {
      outline: none;
    }
    &.animated-border {
      border-bottom: 3px solid $mainPinkColor;
    }
}

div.to-do-helper {
  color: #E91E63;
  position: relative;
  bottom: 0;
  transition: .2s;
  opacity: 0;
  font: {
    size: 20px;
    weight: bolder;
    size: 1.5rem;
  }
  &.animated {
    bottom: 100px;
    opacity: 1;
    padding: 1%;
  }
}


/****** ADD BUTTON ******/
button#add-to-do {
    text-transform: uppercase;
    border: 1px solid black;
    display: block;
    margin: 2% auto 1%;
    width: 50%;
    position: relative;
    background-color: #E91E63;
    border: none;
    font: {
      weight: bolder;
      size: 3rem;
    }
    &:active, &:focus {
      outline: none;
    }
    &:active {
      top: 5px;
    }
}

/****** ERROR MESSAGE ******/
div.message p {
    display: block;
    text-align: center;
    transition: 2s;
    color: red;
    opacity: 0;
    font-size: 1.8rem;
    &.invisible {
        opacity: 0;
    }
    &.visible {
        opacity: 1;
    }
}

/****** TO DO'S ******/
ol.to-do {
  list-style-position: inside;
  padding-left: 0;
  li.to-do {
      padding: 2%;
      cursor: pointer;
      font-size: 2.5rem;
      &:hover {
          background-color: #eee;
      }
  }
}





/* For screens < 600px */
@media (max-width: 600px) {}
