body,
div,
h1,
html,
p {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*********************************
MAIN STYLES
*********************************/
$mainPinkColor: #E91E63;

html {
  font-size: 16px;
}

body {
    font: {
        family: "Bubbler One", sans-serif;
        size: 100%;
    }
}

h1#title {
    text-align: center;
    padding: 2%;
    margin: 2%;
    letter-spacing: 2px;
    font: {
        size: 4rem;
        weight: bolder;
    }
}

/****** TO DO INPUT ******/
input#to-do {
    width: 100%;
    border: 1px solid gray;
    position: relative;
    border: {
      top: 0;
      left: 0;
      right: 0;
    }
    padding: 5px;
    border-radius: 2px;
    font-size: 2rem;
    &:focus {
      outline: none;
    }
}

div.new-to-do-help {
  color: #E91E63;
  padding: 1%;
  position: relative;
  font: {
    size: 20px;
    weight: bolder;
    size: 1.5rem;
  }
  &.animated {
    bottom: 20px;
  }
}


/****** ADD BUTTON ******/
button#add-to-do {
    text-transform: uppercase;
    border: 1px solid black;
    display: block;
    margin: 5% auto 10%;
    width: 50%;
    font: {
      weight: bolder;
      size: 3rem;
    }
}

/****** ERROR MESSAGE ******/
div.message p {
    display: block;
    text-align: center;
    transition: 2s;
    color: red;
    opacity: 0;
    font-size: 1.8rem;
    &.invisible {
        opacity: 0;
    }
    &.visible {
        opacity: 1;
    }
}


/****** TO DO'S ******/
li.to-do {
    padding: 2%;
    cursor: pointer;
    font-size: 2.5rem;
    &:hover {
        background-color: #eee;
    }
}


/* For screens < 600px */
@media (max-width: 600px) {}
